* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-image: url("background_page.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#head {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    position: fixed;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    box-shadow: 0 0 10px rgba(0, 123, 255, 0.7);
    z-index: 1000;
}

#logo {
    width: 80px;
    height: 80px;
    background-image: url("logo_pg_movies.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#search-bar {
    display: flex;
    align-items: center;
}

#input-search {
    padding: 8px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

#btn-search {
    padding: 10px;
    background-color: rgba(0, 123, 255, 0.8);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#btn-search:hover {
    background-color: rgba(0, 123, 255, 1);
}

#body_page {
    margin-top: 120px;
    display: grid;
    grid-template-columns: repeat(12, 80px);
    grid-template-rows: repeat(60, 110px);
    gap: 10px;
    padding: 20px;
    overflow: hidden;
}

.grid-item {
    width: 80px;
    height: 110px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    position: relative; /* Necesario para el posicionamiento absoluto del nombre */
}

.name {
    position: absolute;
    bottom: 5px; /* Ajusta la posición del nombre según sea necesario */
    left: 50%; /* Centra el nombre horizontalmente */
    transform: translateX(-50%); /* Centra el nombre horizontalmente */
    color: #333; /* Color del nombre */
}
#footer {
    /* Estilos para el pie de página */
}
